@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}

.Welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.Welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
  cursor: pointer;
}

.icons {
  color: #fff !important;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes shake-reverse {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  50% {
    scale: 0.9;
  }
  100% {
    transform: translateX(0px);
  }
  100% {
    scale: 1;
  }
}

.vectorLinearBackround {
  background: linear-gradient(
    rgba(0, 0, 0, 0.64) 0%,
    rgba(28, 7, 78, 0.64) 100%
  );
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

.sectionGradient {
  background: radial-gradient(ellipse at top, #21083a, #000000 60%);
  border-top: 1px solid;
  border-image: linear-gradient(45deg, #000000 50%, #ba9cff 65%, #000000) 1;
}

.sectionGradient2 {
  background: radial-gradient(ellipse at top, #21083a, #000000 60%);
  border-top: 1px solid;
  border-image: linear-gradient(45deg, #000000 60%, #ba9cff 80%, #000000) 1;
}

.sectionGradient3 {
  background: radial-gradient(ellipse at top, #21083a, #000000 60%);
  border-top: 1px solid;
  border-image: linear-gradient(45deg, #000000 10%, #ba9cff 80%, #000000) 1;
}

.sectionGradient4 {
  background: radial-gradient(ellipse at top, #21083a, #000000 60%);
  border-top: 1px solid;
  border-image: linear-gradient(45deg, #000000 60%, #ba9cff 80%, #000000) 1;
}

.sectionGradient5 {
  background: radial-gradient(ellipse at top, #21083a, #000000 60%);
  border-top: 1px solid;
  border-image: linear-gradient(45deg, #000000 20%, #ba9cff 50%, #000000) 1;
}

.sectionGradient6 {
  background: radial-gradient(ellipse at top, #21083a, #000000 60%);
  border-top: 1px solid;
  border-image: linear-gradient(45deg, #000000 50%, #ba9cff 70%, #000000) 1;
}

.sectionHeader {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.paraText p {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

.navbarGradient {
  background: #21083a95;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  padding: 0.7rem 1.8rem;
}

.growthText {
  padding: 20px;
  z-index: 900;
}

.growthText h1 {
  position: absolute;
  z-index: 900;
  font-size: 24px;
}

.growthText h4 {
  color: #d4d4d4;
  font-size: 14px;
  margin-top: 35px;
  width: max-content;
}

.growthBg {
  overflow: hidden;
  background: url(/growth1.png);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.dollar {
  height: 90px;
  width: 90px;
}

.growthDollar1 {
  position: absolute;
  top: 50%;
  left: 45%;
  transition: 1s ease;
}

.growthDollar2 {
  position: absolute;
  top: 70%;
  left: 25%;
  transition: 1s ease;
}

.growthDollar3 {
  position: absolute;
  top: 20%;
  left: 60%;
  transition: 1s ease;
}

.growthDollar4 {
  position: absolute;
  top: 55%;
  left: 10%;
  transition: 1s ease;
}

.growthDollar5 {
  position: absolute;
  top: 60%;
  left: 75%;
  transition: 1s ease;
}

.growthBg:hover .growthDollar1 {
  transform: translateY(-60px);
  transition: 0.8s ease-in;
}

.growthBg:hover .growthDollar2 {
  transform: translateY(-40px);
  transition: 0.9s ease-in;
}

.growthBg:hover .growthDollar3 {
  transform: translateY(90px);
  transition: 0.9s ease-in;
}

.growthBg:hover .growthDollar4 {
  transform: translateY(-90px);
  transition: 0.5s ease-in;
}

.growthBg:hover .growthDollar5 {
  transform: translateY(-60px);
  transition: 0.7s ease-in;
}

.thunderBg {
  overflow: hidden;
  background: url(/l6.png);
  background-position: center;
  background-size: cover;
  /* top: -4%; */
  height: 100%;
}

.thunder {
  position: absolute;
  scale: 0.8;
  top: -5%;
  height: 100%;
  transition: 0.3s ease-in;
}

.thunder:hover {
  scale: 1.1;
  transform: rotateZ(-5deg);
}

.seoBg {
  background: url(/seo.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  scale: 0.6;
  transition: 0.4s ease;
}

.seoHeader {
  position: absolute;
  z-index: 900;
  font-size: 24px;
  margin-top: 20px;
  bottom: 5%;
}

.seoMagnifier {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 5%;
  top: 5%;
  backdrop-filter: blur(7px);
  transition: 0.4s ease;
}

.seoMagnifier:hover {
  transform: rotateZ(20deg);
  scale: 1.2;
  backdrop-filter: none;
  transition: 0.4s ease-in;
}

.scaleHeader {
  position: absolute;
  z-index: 900;
  font-size: 24px;
  left: 5%;
  top: 5%;
}

.scaleText {
  color: #d4d4d4;
  font-size: 14px;
  margin-top: 35px;
  left: 5;
}

.scaleBg {
  background: url(/grid.svg) no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.journeyBG {
  background: url(/journey.svg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.lockBg {
  background: url(/l4.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.lockHeader {
  position: absolute;
  z-index: 900;
  font-size: 24px;
  margin-top: 20px;
  opacity: 1;
  transition: 0.3s ease-in;
}

.lockHeader1 {
  position: absolute;
  z-index: 900;
  font-size: 24px;
  margin-top: 20px;
  transition: 0.3s ease-in;
  opacity: 0;
}

.lock {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 40%;
  transition: 0.3s ease-in;
}

.lockCard:hover .lockHeader {
  transform: translateY(190px);
  opacity: 0;
}

.lockCard:hover .lockHeader1 {
  transform: translateY(190px);
  opacity: 1;
}

.lockCard:hover .lock {
  transform: translateY(-50%);
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.knowMore {
  background: radial-gradient(ellipse at top, #ffffff40 10%, #41127080);
}

.modalBg {
  background: linear-gradient(to bottom, #4d1977 10%, #150427 60%, #000000);
}

