.cogsContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes spin-clockwise {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  @keyframes spin-counterclockwise {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
  }
  
  @keyframes spin-back-clockwise {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }
  
  @keyframes spin-back-counterclockwise {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0deg); }
  }
  
  .smallerCog, .largerCog {
    transition: transform 2s;
    position: absolute; 
  }
  
  .cogsContainer .largerCog, .cogsContainer .smallerCog {
    transform: rotate(0deg); 
  }
  
  .cogsContainer:hover .largerCog {
    animation: spin-clockwise 2s forwards;
  }
  
  .cogsContainer:hover .smallerCog {
    animation: spin-counterclockwise 2s forwards; 
  }
  
  .cogsContainer:not(:hover) .largerCog {
    animation: spin-back-clockwise 2s forwards; 
  }
  
  .cogsContainer:not(:hover) .smallerCog {
    animation: spin-back-counterclockwise 2s forwards;
  }
  
  .smallerCog {
    top: 25%;
    left: -12%;
    height: 150px;
    width: 150px;
  }
  
  .largerCog {
    bottom: -20%; 
    right: -16%; 
    height: 220px;
    width: 220px;
  }
  