/* components/ResponsiveSVG.module.css */
.svgContainer {
    background-color: transparent;
    padding-bottom: 40px;
    margin-top: -20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  /* Adjust width for responsiveness */
    height: 100%; /* Adjust height for responsiveness */
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 42;
  }
  
  .arrow {
    stroke: #5f22aa;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 5, 5; /* Creates a dotted line effect */
    opacity: 0; /* Default to invisible */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
  }
  
  .svgContainer:hover .arrow {
    opacity: 1; /* Make arrows visible on hover */
    animation: growArrow 2s forwards; /* Animate on hover */
  }
  
  @keyframes growArrow {
    0% {
      stroke-dashoffset: 1000; /* Start with a large offset to hide the arrow */
    }
    100% {
      stroke-dashoffset: 0; /* Complete the dotted effect */
    }
  }
  
  @keyframes reverseArrow {
    0% {
      stroke-dashoffset: 0; /* Start from the end position */
    }
    100% {
      stroke-dashoffset: 1000; /* Reset the dotted effect */
    }
  }
  
  .svgContainer:not(:hover) .arrow {
    animation: reverseArrow 2s forwards; /* Reverse animation when not hovered */
  }
  